<h1>Show Page</h1> 

<!--<%=@tweet.content%>-->

<a href="/tweets/<%=@tweet.id%>/">Edit Tweet</a>
<a href="/tweets/<%=@tweet.id%>/">Delete Tweet</a>

<!--<form method="post" action="/tweets/<%=@tweet.id%>/edit">-->
<!--  <input id="hidden" type="textarea" name="_method" value="EDIT">-->
<!--  <input type="submit" value="Edit Tweet">-->
<!--</form>  -->

<!--<form method="post" action="/tweets/<%=@tweet.id%>/delete">-->
<!--  <input id="hidden" type="textarea" name="_method" value="DELETE">-->
<!--  <input type="submit" value="Delete Tweet">-->
<!--</form>  -->


  
 